@charset "utf-8";
/* CSS Document */


.btn{
    display:block;
    width: 140px;
    text-align: center;
    padding: 11px 0;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font:bold italic 14px Georgia, sans-serif;
    color:#fff;
    text-shadow: 0px -1px 3px rgba(150, 150, 150, 1);
    text-decoration: none;


}
.red{
    background: #bc0000;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JjMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3OTAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #bc0000 0%, #790000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bc0000), color-stop(100%,#790000));
    background: -webkit-linear-gradient(top,  #bc0000 0%,#790000 100%);
    background: -o-linear-gradient(top,  #bc0000 0%,#790000 100%);
    background: -ms-linear-gradient(top,  #bc0000 0%,#790000 100%);
    background: linear-gradient(to bottom,  #bc0000 0%,#790000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc0000', endColorstr='#790000',GradientType=0 );

}
.red:hover{
   background: #790000;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc5MDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiYzAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #790000 0%, #bc0000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#790000), color-stop(100%,#bc0000));
    background: -webkit-linear-gradient(top,  #790000 0%,#bc0000 100%);
    background: -o-linear-gradient(top,  #790000 0%,#bc0000 100%);
    background: -ms-linear-gradient(top,  #790000 0%,#bc0000 100%);
    background: linear-gradient(to bottom,  #790000 0%,#bc0000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#790000', endColorstr='#bc0000',GradientType=0 );
}
.blue{
    background: #004489;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNDQ4OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDIzNDciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #004489 0%, #002347 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#004489), color-stop(100%,#002347));
    background: -webkit-linear-gradient(top,  #004489 0%,#002347 100%);
    background: -o-linear-gradient(top,  #004489 0%,#002347 100%);
    background: -ms-linear-gradient(top,  #004489 0%,#002347 100%);
    background: linear-gradient(to bottom,  #004489 0%,#002347 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004489', endColorstr='#002347',GradientType=0 );

}
.blue:hover{
    background: #002347;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMjM0NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDQ0ODkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #002347 0%, #004489 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#002347), color-stop(100%,#004489));
    background: -webkit-linear-gradient(top,  #002347 0%,#004489 100%);
    background: -o-linear-gradient(top,  #002347 0%,#004489 100%);
    background: -ms-linear-gradient(top,  #002347 0%,#004489 100%);
    background: linear-gradient(to bottom,  #002347 0%,#004489 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002347', endColorstr='#004489',GradientType=0 );

}
.yellow{
    background: #dcba00;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RjYmEwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiYzc4MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #dcba00 0%, #bc7800 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dcba00), color-stop(100%,#bc7800));
    background: -webkit-linear-gradient(top,  #dcba00 0%,#bc7800 100%);
    background: -o-linear-gradient(top,  #dcba00 0%,#bc7800 100%);
    background: -ms-linear-gradient(top,  #dcba00 0%,#bc7800 100%);
    background: linear-gradient(to bottom,  #dcba00 0%,#bc7800 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcba00', endColorstr='#bc7800',GradientType=0 );

}
.yellow:hover{
    background: #bc7800;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JjNzgwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkY2JhMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #bc7800 0%, #dcba00 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bc7800), color-stop(100%,#dcba00));
    background: -webkit-linear-gradient(top,  #bc7800 0%,#dcba00 100%);
    background: -o-linear-gradient(top,  #bc7800 0%,#dcba00 100%);
    background: -ms-linear-gradient(top,  #bc7800 0%,#dcba00 100%);
    background: linear-gradient(to bottom,  #bc7800 0%,#dcba00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc7800', endColorstr='#dcba00',GradientType=0 );

}
.green{
    background: #2b7b0c;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJiN2IwYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNjQwMDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #2b7b0c 0%, #164006 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2b7b0c), color-stop(100%,#164006));
    background: -webkit-linear-gradient(top,  #2b7b0c 0%,#164006 100%);
    background: -o-linear-gradient(top,  #2b7b0c 0%,#164006 100%);
    background: -ms-linear-gradient(top,  #2b7b0c 0%,#164006 100%);
    background: linear-gradient(to bottom,  #2b7b0c 0%,#164006 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b7b0c', endColorstr='#164006',GradientType=0 );

}
.green:hover{
    background: #164006;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE2NDAwNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyYjdiMGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #164006 0%, #2b7b0c 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#164006), color-stop(100%,#2b7b0c));
    background: -webkit-linear-gradient(top,  #164006 0%,#2b7b0c 100%);
    background: -o-linear-gradient(top,  #164006 0%,#2b7b0c 100%);
    background: -ms-linear-gradient(top,  #164006 0%,#2b7b0c 100%);
    background: linear-gradient(to bottom,  #164006 0%,#2b7b0c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#164006', endColorstr='#2b7b0c',GradientType=0 );

}